<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head') -%>
</head>

<body>

    <body>
        <%- include('partials/header') -%>

        <main role="main">

            <section class="jumbotron text-center">
                <div class="container">
                    <h1>Quiz App</h1>
                    <p class="lead text-muted">Advance your skills...add more</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">View Topics</a>
                    </p>
                </div>
            </section>

            <section class="topics py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <!-- Start topic -->
                        <div class="col-md-4">
                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">1</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">Maths
                                        </h1>
                                        <p>Instructions</p>
                                        <a href="/quiz?topic=maths" id="#maths" type="button"
                                            class="btn btn-lg btn-block btn-outline-primary">Start
                                            Quiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Topic -->
                        <!-- Start topic -->
                        <div class="col-md-4">
                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">2</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">English
                                        </h1>
                                        <p>Instructions</p>
                                        <a href="/quiz?topic=english" id="#english" type="button"
                                            class="btn btn-lg btn-block btn-outline-primary">Start
                                            Quiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Topic -->
                        <!-- Start topic -->
                        <div class="col-md-4">
                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">3</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">Science
                                        </h1>
                                        <p>Instructions</p>
                                        <a href="/quiz?topic=science" id="#science" type="button"
                                            class="btn btn-lg btn-block btn-outline-primary">Start
                                            Quiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Topic -->
                        <!-- Start topic -->
                        <div class="col-md-4">
                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">4</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">Kiswahili
                                        </h1>
                                        <p>Instructions</p>
                                        <a href="/quiz?topic=kiswahili" id="#kiswahili" type="button"
                                            class="btn btn-lg btn-block btn-outline-primary">Start
                                            Quiz</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Topic -->
                        <!-- Start topic -->
                        <div class="col-md-4">
                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">5</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">CRE
                                        </h1>
                                        <p>Instructions</p>
                                        <a href="/quiz?topic=cre" id="#cre" type="button"
                                            class="btn btn-lg btn-block btn-outline-primary">Start
                                            Quiz</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Topic -->
                        <!-- Start topic -->
                        <div class="col-md-4">
                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">6</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">Social Studies
                                        </h1>
                                        <p>Instructions</p>
                                        <a href="/quiz?topic=socialStudies" id="#socialStudies" type="button"
                                            value="socialStudies" class="btn btn-lg btn-block btn-outline-primary">Start
                                            Quiz</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Topic -->

                    </div>
                </div>
            </section>

        </main>

        <%- include('partials/footer') -%>
        <!-- <script src="/js/quiz.js"></script> -->
    </body>

</html>